/* You can add global styles to this file, and also import other style files */
html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: rgba(0, 0, 0, 0.1);
}

.mt-100 {
	margin-top: 100px !important;
}

.fw-500 {
	font-weight: 500 !important;
}

.cursor-pointer {
	cursor: pointer !important;
}

.fully-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	padding: 0;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.centered-bg-image {
	background-position: center !important;
	background-size: cover !important;
}

.mat-btn-lg {
	padding: 6px 24px !important;
	font-size: 16px !important;
}